*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;/*Definindo a porcentagem para utilizar o REM*/
}

body{
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  display: grid; /*Definindo display em grade*/
  place-items: center;/*Utilizando center para posicionar o único elemento filho no centro*/

  height: 100vh;
}

body, input, button{
  font-family: "DM Sans", sans-serif;
}

button{
  background: #7879F1;
  color: #FFFF;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0 .4rem .4rem 0;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background-color: #5e5ec2;
}

main{
  background: #FFFF;
  border-radius: 0.6rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  margin-top: -12rem;/*Este margin top negativo deixa o main mais acima, trazendo um alinhamento melhor ao centro*/

  width: min(42.8rem, 90%); /*Função min define um tamanho mínimo para a caixa, caso o tamanho precise ser reduzido ele será de 90%*/
}

.hide{
  display: none;
}

/*screen1*/
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p{
  color: #34355B;
}

p{
  opacity: .8;
}

form{
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button{
  border: none;
  padding: 1.6rem;
}

input{
  background-color: #DCE2E9;
  width: 5rem;
  border-radius: .4rem 0 0 .4rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/*screen2*/
.screen2{
  text-align: center;
}

h2{
  font-size: 2.4rem;
  font-weight: 400;

  margin-bottom: 3.3rem;
}

.screen2 button{
  border-radius: .4rem;
}